<!-- Default glow #1 Attempt -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Clover Bot</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="header">
      <img
        src="{{ url_for('static', filename='buttons/banner.png') }}"
        alt="Robot Banner"
      />
    </div>
    <div class="grid-wrapper">
      <div class="grid-container">
        <!-- Each button belongs to 2 classes: Grid-item and glowing-button -->
        <button id="BD" class="grid-item glowing-button">
          <img
            src="{{ url_for('static', filename='buttons/thumb_down.png') }}"
            alt="Thumb Down (Bad)"
          />
        </button>
        <button id="M" class="grid-item glowing-button">
          <img
            src="{{ url_for('static', filename='buttons/mask.png') }}"
            alt="Mask"
          />
        </button>
        <button id="G" class="grid-item glowing-button">
          <img
            src="{{ url_for('static', filename='buttons/thumb_up.png') }}"
            alt="Thumb Up (Good)"
          />
        </button>
        <button id="LA" class="grid-item glowing-button">
          <img
            src="{{ url_for('static', filename='buttons/left_arm.png') }}"
            alt="Left Arm (LA)"
          />
        </button>
        <button id="H" class="grid-item glowing-button">
          <img
            src="{{ url_for('static', filename='buttons/help.png') }}"
            alt="Help (H)"
          />
        </button>
        <button id="RA" class="grid-item glowing-button">
          <img
            src="{{ url_for('static', filename='buttons/right_arm.png') }}"
            alt="Right Arm (RA)"
          />
        </button>
        <button id="LL" class="grid-item glowing-button">
          <img
            src="{{ url_for('static', filename='buttons/left_leg.png') }}"
            alt="Left Leg (LL)"
          />
        </button>
        <button id="P" class="grid-item glowing-button">
          <img
            src="{{ url_for('static', filename='buttons/pillow.png') }}"
            alt="Pillow (P)"
          />
        </button>
        <button id="RL" class="grid-item glowing-button">
          <img
            src="{{ url_for('static', filename='buttons/right_leg.png') }}"
            alt="Right Leg (RL)"
          />
        </button>
      </div>
    </div>
    <!-- Link js -->
    <script src="script.js"></script>
  </body>
</html>
